<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth - Login Page</title>
</head>
<body>
    <%- include("route.ejs") %>
    <h1>Login Page</h1>

    <form 
    action="/auth/login"
    method="POST"
    >
    <input type="email" name="email" id="email" placeholder="enter email address"> <br> <br>
    <input type="password" name="password" id="password" placeholder="enter password"> <br> <br>
    <button type="submit">Login</button>
    </form> <br>
    
    <a href="/auth/forget-password">
        forget password?
    </a>

    <% if(invalid && invalid.length > 0){ %>
        <% invalid.forEach((inv) => { %>
            <p><%= inv %></p>
        <% }) %>
    <% } %>
</body>
</html>