<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth - Register Page</title>
</head>
<body>
    <%- include("route.ejs") %>
    <h1>Register Page</h1>

    <form 
    action="/auth/register"
    method="POST"
    >
        <input type="text" name="username" id="username" placeholder="enter username"> <br> <br>
        <input type="email" name="email" id="email" placeholder="enter email address"> <br> <br>
        <input type="password" name="password" id="password" placeholder="enter password"> <br> <br>
        <button type="submit">Register</button>
    </form>

    <% if(errors && errors.length > 0){ %>
        <% errors.forEach((error) => { %>
            <p><%= error %> </p>
        <% }) %>
    <% } %>
</body>
</html>