<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Change password
    </h1>

    <form 
    action="/auth/change-password"
    method="post"
    >
        <input 
        type="password"
        name="currentPassword"
        required
        placeholder="enter current password"
        > <br> <br>
        <input 
        type="password"
        name="newPassword"
        required
        placeholder="enter new password"
        > <br> <br>
        <input 
        type="password"
        name="confirmPassword"
        required
        placeholder="confirm new password"
        > <br> <br>

        <button type="submit">change password</button>
    </form>

    <% if(errors && errors.length > 0){ %>
        <% errors.forEach((error) => { %>
            <p><%= error %> </p>
        <% }) %>
    <% } %>
</body>
</html>