<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forget Password</h1>

    <% if(formSubmitted){ %>
        <p>a mail has been sent to your submitted email</p>
    <% }else{ %>
        <form 
        action="/auth/forget-password"
        method="POST"
        >
            <input 
            type="email" 
            name="email"
            placeholder="enter email address"
            >

            <button type="submit">Submit</button>
        </form>
    <% } %>

    <% if(errors && errors.length > 0){ %>
        <% errors.forEach((error) => { %>
            <p><%= error %> </p>
        <% }) %>
    <% } %>
</body>
</html>