<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>set password</h1>

    <form 
    action="/auth/set-password"
    method="POST"
    >
        <input 
        type="password" 
        name="setPassword" 
        placeholder="set your password"
        > <br> <br>
        <input 
        type="password" 
        name="confirmPassword" 
        placeholder="confirm your password"
        > <br> <br>

        <button type="submit">set password</button>
    </form>

    <% if(errors && errors.length > 0){ %>
        <% errors.forEach((error) => { %>
            <p><%= error %> </p>
        <% }) %>
    <% } %>
</body>
</html>